<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fonts from google-->
<link href="https://fonts.googleapis.com/css?family=Alex+Brush|Architects+Daughter|Great+Vibes|Handlee|Indie+Flower|Patrick+Hand" rel="stylesheet">
  <!--normalize file-->
  <link rel="stylesheet" href="styles/normalize.css">
  <!--Grids-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <!--Icons-->
  <script src="https://use.fontawesome.com/6efc6acbea.js"></script>

</head>

<body>
  <!-- HEADER SECTION-->
  <header>
    <nav class="grid-spaceBetween nav_hide" id="sticky-nav">
      <!--NAVIGATION DIV-->
      <div class="onenav col-4">
        <a href="#contact">Participate</a>
        <a href="current project">Current project</a>
        <a href="#about">About</a>
        <a href="#home">Home</a>
      </div>
      <!--SMM DIV-->
      <div class="twonav col-2">
        <a href="https://www.facebook.com/LeraBedran" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
	      <a href="https://www.linkedin.com/in/valeria-bedran-2b099868/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
	      <a href="https://www.instagram.com/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="mailto:bedran.v.v@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </nav>

    <!-- MOBILE NAV-->
<div id="container" class="nav_show">
    <nav>
      <a href="#home" title="Home" class="toggle-mobile-menu">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </a>
    </nav>

<nav id="mobile-navigation" class="grid-middle-center-noBottom-noGutter bg-yellow animate">
    <a class="col-12 center toggle-mobile-menu" href="#home">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <a class="col-12 center" href="#home" class="toggle-mobile-menu">Home</a>
    <a class="col-12 center" href="current project" class="toggle-mobile-menu">Current project</a>
    <a class="col-12 center" href="#about" class="toggle-mobile-menu">About</a>
    <a class="col-12 center" href="#contact" class="toggle-mobile-menu">Participate</a>
</nav>
</div>
    <!-- END OF MOBILE-->

      <!--TITLES DIV-->
      <div class="titles grid-spaceAround" id="home">
        <h1 class="col-7"> Ahimsa Project</h1>
        <h3 class="col-7">Translations that matter</h3>
      </div>
      
      <a id="sticky-button" class="button" href="#call-to-action"><span>Buy me</span></a>

      <!--CURRENT PROJECT-->
      <section id="current project">
        <div class"grid-spaceAround ">
          <h2 class="col-7">Current project</h2>
        </div>

        <div class="current grid-spaceAround">
          <div class="col-6">
            <img src="../images/raw.jpg" alt="raw documentory">
          </div>
          <div class="col-6">
            <h2>RAW</h2>
            <p>At the age of 51 she was diagnosed with highly aggressive carcinoma breast cancer and was told she had 6 months to live.
            6 months latter she was completely clean. She switched to a 100% raw diet, started to run marathons, set a World Record of 366 consecutive Marathons in one year, gained 40 000 followers all over the world and inspired Brunei government to change state nutrition policy.
            Now she is 68, feels herself stronger every day and keeps beating world records.</p>
          </div>
        </div>
      </section>

  </header>

  {{content}}

  <footer>
    <nav class="grid-spaceAround smm">
          <a class="col-3" href="https://www.facebook.com/LeraBedran" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a class="col-3" href="https://www.linkedin.com/in/valeria-bedran-2b099868/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a class="col-3" href="https://www.instagram.com/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
     </nav>


   </footer>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
   <script type="text/javascript" src="/javascript/scripts.js"></script>
  </body>
 </html>
