<!DOCTYPE html>
<head>
  <!-- fonts from google-->
<link href="https://fonts.googleapis.com/css?family=Alex+Brush|Architects+Daughter|Great+Vibes|Handlee|Indie+Flower|Patrick+Hand" rel="stylesheet">
  <!--normalize file-->
  <link rel="stylesheet" href="styles/normalize.css">
  <!--Grids-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <!--Icons-->
  <script src="https://use.fontawesome.com/6efc6acbea.js"></script>
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <!-- HEADER SECTION-->
  <header>
    <nav class="grid-spaceBetween">
      <!--NAVIGATION DIV-->
      <div class="onenav col-3">
        <a href="contact">Participate</a>
        <a href="about">About</a>
        <a href="home">Home</a>
      </div>
      <!--SMM DIV-->
<!--? how to make it responsive?-->
      <div class="twonav col-2">
        <a href="https://www.facebook.com/LeraBedran" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
	      <a href="https://www.linkedin.com/in/valeria-bedran-2b099868/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
	      <a href="https://www.instagram.com/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="mailto:bedran.v.v@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </nav>

      <!--TITLES DIV-->
      <div class="titles grid-spaceAround">
        <h1 class="col-7"> Ahimsa Project</h1>
        <h3 class="col-7">Translations that matter</h3>
      </div>

      <!--CURRENT PROJECT-->
      <div class"grid-spaceAround">
        <h2 class="col-7">Current project</h2>
      </div>
      <div class="current grid-spaceAround">
        <h2 class="col-7">RAW</h2>
        <p class="col-7">At the age of 51 she was diagnosed with highly aggressive carcinoma breast cancer and was told she had 6 months to live.
    6 months latter she was completely clean. She switched to a 100% raw diet, started to run marathons, set a World Record of 366 consecutive Marathons in one year, gained 40 000 followers all over the world and inspired Brunei government to change state nutrition policy.
    Now she is 68, feels herself stronger every day and keeps beating world records.</p>
    </div>
  </header>

  {{content}}

  <footer>
    <nav class="grid-spaceAround smm">
          <a class="col-3" href="https://www.facebook.com/LeraBedran" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a class="col-3" href="https://www.linkedin.com/in/valeria-bedran-2b099868/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a class="col-3" href="https://www.instagram.com/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
     </nav>
   </footer>
  </body>
 </html>
