*{
   box-sizing: border-box;
   margin:0;
   padding:0;
   border: 2px solid grey;
}

/* GENERAL STYLES*/
body{
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}
h1 {
  font-family: 'Alex Brush', cursive;
  letter-spacing: 10px;
  color:snow;
  font-size:60px;
  word-spacing:20px;
  }
h2,h4,h5,h6{
  font-family: 'Alex Brush', cursive;
  color:black;
  letter-spacing: 3px;
  text-align: center;
  font-size: 40px;
}
h3{
  font-family: 'Alex Brush', cursive;
  color:snow;
  letter-spacing: 3px;
  font-size: 30px;
}

img{
  max-width: 100%;
}

/* NAVIGATION SECTION*/

div.onenav, div.twonav{
  display: flex !important;
  flex-direction: row-reverse;
  justify-content:space-between;
}

nav{
  width:100%;
  background-color:snow;
  padding-top: 1%;
}
.onenav{
  padding-left: 2%;
}
.twonav{
  padding-right: 1%;
}

nav a{
  color:#79b9d0;
  text-decoration: none;
}

nav a:hover{
    color: pink;
    font-weight: bold;
}

/*Titles*/
.titles{
  padding-top: 10%;
  height:100vh;
  background-image: url('../images/pic3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}

/*Current project*/
#current_project h2{
  margin-top: 10%;
}
.current .raw h2{
  font-size: 50px !important;
}
.current{
  height: 80%;
  padding-bottom: 2%;
  justify-content: center;
}

.current img{
  width: 60%;
  justify-content: center;
  margin-left:20%;
}
.raw{
  padding-right: 10%;
  line-height: 2;
}

/*VIDEO*/
#video{
  height: 60vh;
  padding: 0;
}
#video iframe{
  width: 100%;
  height:100%;
}

/*PROJECT DESCRIPTION*/
.project_description{
 margin:10% 20% 5% 20%;
}


/* SUCCESS STORIES SECTION*/
.sucess img{
  width:10%!important;
  height:15%!important;
}

/*CONTACT FORM*/
#contact {
  margin-top: 5%;
  margin-bottom: 10%;
  background-image:url('../images/pic4.png');
  background-repeat: no-repeat;
  background-size: auto;
  text-align: justify;
  background-position: bottom;
  background-attachment: fixed;
}
#contact form{
  margin-top: 5%;
  margin-bottom: 10%;
}
.get_in_touch{
  margin-top: 10%;
  margin-bottom: 10%;
}

/* MOBILE MENU STYLES*/
.nav_show{
  display: none;
}
#mobile-navigation{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transform: scale(.96);
}
#container.mobile-menu-visible #mobile-navigation{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

/* HELPERS */
.padding{
  padding: 40px;
}
.margin-top-bottom{
  margin: 40px 0;
}
.round-corners{
  border-radius: 4px;
}
.bg-yellow{
  background-color: #edcdc8;
}
.center{
  text-align: center;
}
.animate{
  transition: all 172ms ease-out;
}
/* The Button*/

.button{
  display: block;
  text-align: center;
  text-decoration: none;
  background: rgba(255,255,255,.78);
  padding: 40px 0;
}
.button span{
  display: inline-block;
  background-color: orange;
  padding: 10px 14px;
  border-radius: 6px;
  color: #fff;
}

/* Media Query*/
@media all and (max-width:767px) {
  .nav_show{
    display: block;
  }
  .nav_hide{
    display: none;
  }
  .emptyDiv{
    display:none;
  }
}
